In [52]:
import numpy as np
import pandas as pd
import os
import math
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix
from sklearn.metrics import f1_score
from sklearn.metrics import precision_score
import matplotlib.pyplot as plt

In [53]:
df = pd.read_csv('HR Employee Attrition.csv',na_values= "?")
df.head(25)

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2
5,32,No,Travel_Frequently,1005,Research & Development,2,2,Life Sciences,1,8,...,3,80,0,8,2,2,7,7,3,6
6,59,No,Travel_Rarely,1324,Research & Development,3,3,Medical,1,10,...,1,80,3,12,3,2,1,0,0,0
7,30,No,Travel_Rarely,1358,Research & Development,24,1,Life Sciences,1,11,...,2,80,1,1,2,3,1,0,0,0
8,38,No,Travel_Frequently,216,Research & Development,23,3,Life Sciences,1,12,...,2,80,0,10,2,3,9,7,1,8
9,36,No,Travel_Rarely,1299,Research & Development,27,3,Medical,1,13,...,2,80,2,17,3,2,7,7,7,7
10,35,No,Travel_Rarely,809,Research & Development,16,3,Medical,1,14,...,3,80,1,6,5,3,5,4,0,3
11,29,No,Travel_Rarely,153,Research & Development,15,2,Life Sciences,1,15,...,4,80,0,10,3,3,9,5,0,8
12,31,No,Travel_Rarely,670,Research & Development,26,1,Life Sciences,1,16,...,4,80,1,5,1,2,5,2,4,3
13,34,No,Travel_Rarely,1346,Research & Development,19,2,Medical,1,18,...,3,80,1,3,2,3,2,2,1,2
14,28,Yes,Travel_Rarely,103,Research & Development,24,3,Life Sciences,1,19,...,2,80,0,6,4,3,4,2,0,3
15,29,No,Travel_Rarely,1389,Research & Development,21,4,Life Sciences,1,20,...,3,80,1,10,1,3,10,9,8,8
16,32,No,Travel_Rarely,334,Research & Development,5,2,Life Sciences,1,21,...,4,80,2,7,5,2,6,2,0,5
17,22,No,Non-Travel,1123,Research & Development,16,2,Medical,1,22,...,2,80,2,1,2,2,1,0,0,0
18,53,No,Travel_Rarely,1219,Sales,2,4,Life Sciences,1,23,...,3,80,0,31,3,3,25,8,3,7
19,38,No,Travel_Rarely,371,Research & Development,2,3,Life Sciences,1,24,...,3,80,0,6,3,3,3,2,1,2
20,24,No,Non-Travel,673,Research & Development,11,2,Other,1,26,...,4,80,1,5,5,2,4,2,1,3
21,36,Yes,Travel_Rarely,1218,Sales,9,4,Life Sciences,1,27,...,2,80,0,10,4,3,5,3,0,3
22,34,No,Travel_Rarely,419,Research & Development,7,4,Life Sciences,1,28,...,3,80,0,13,4,3,12,6,2,11
23,21,No,Travel_Rarely,391,Research & Development,15,2,Life Sciences,1,30,...,4,80,0,0,6,3,0,0,0,0
24,34,Yes,Travel_Rarely,699,Research & Development,6,1,Medical,1,31,...,3,80,0,8,2,3,4,2,1,3

In [54]:
df.shape

(1470, 35)

In [55]:
lb = LabelEncoder()
df['EducationField'] = lb.fit_transform(df['EducationField'])
df['BusinessTravel'] = lb.fit_transform(df['BusinessTravel'])
df['Attrition'] = lb.fit_transform(df['Attrition'])
df['Department'] = lb.fit_transform(df['Department'])
df['Gender'] = lb.fit_transform(df['Gender'])
df['JobRole'] = lb.fit_transform(df['JobRole'])
df['MaritalStatus'] = lb.fit_transform(df['MaritalStatus'])
df['OverTime'] = lb.fit_transform(df['OverTime'])
df['Over18'] = lb.fit_transform(df['Over18'])

In [56]:

d = df.drop(['Attrition'], axis=1)

In [57]:
df.shape

(1470, 35)

In [58]:
Y = df['Attrition']
X = d

In [59]:
X_train, X_test, y_train, y_test = train_test_split(X,Y,test_size=0.3,random_state=42)
X_train.shape
X_test.shape
y_train.shape
y_test.shape

(441,)

In [60]:
ss = StandardScaler() 
X_train = ss.fit_transform(X_train)
X_test = ss.transform(X_test)

lr = LogisticRegression(C = 1.0, penalty='l2', tol=0.01)

lr.fit(X_train,y_train)
lr_y_predict = lr.predict(X_test)

In [61]:
lr.score(X_test,y_test)
classification_report(y_test, lr_y_predict,target_names=['good','bad'])

'              precision    recall  f1-score   support\n\n        good       0.89      0.97      0.93       380\n         bad       0.54      0.25      0.34        61\n\n    accuracy                           0.87       441\n   macro avg       0.71      0.61      0.63       441\nweighted avg       0.84      0.87      0.84       441\n'

In [62]:
clf = LogisticRegression(verbose = 3)
clf_trained = clf.fit(X_train,y_train)

RUNNING THE L-BFGS-B CODE

           * * *

Machine precision = 2.220D-16
 N =           35     M =           10

At X0         0 variables are exactly at the bounds

At iterate    0    f=  7.13248D+02    |proj g|=  3.38500D+02


ITERATION     1

---------------- CAUCHY entered-------------------
 There are            0   breakpoints

 GCP found in this segment
Piece      1 --f1, f2 at start point  -1.8072D+05  1.8072D+05
Distance to the stationary point =   1.0000D+00

---------------- exit CAUCHY----------------------

          35  variables are free at GCP            1
 LINE SEARCH           0  times; norm of step =    1.0000000000000000

At iterate    1    f=  4.78534D+02    |proj g|=  1.81361D+02


ITERATION     2

----------------SUBSM entered-----------------


----------------exit SUBSM --------------------

 LINE SEARCH           0  times; norm of step =   0.96903569926858069

At iterate    2    f=  3.60517D+02    |proj g|=  2.86203D+01


ITERATION     3

----------------SUBSM entered-----------------


----------------exit SUBSM --------------------

 LINE SEARCH           0  times; norm of step =   0.31450747928071054

At iterate    3    f=  3.46418D+02    |proj g|=  1.74136D+01


ITERATION     4

----------------SUBSM entered-----------------


----------------exit SUBSM --------------------

 LINE SEARCH           0  times; norm of step =   0.59229453676999499

At iterate    4    f=  3.34349D+02    |proj g|=  1.30761D+01


ITERATION     5

----------------SUBSM entered-----------------


----------------exit SUBSM --------------------

 LINE SEARCH           0  times; norm of step =   0.40442256590630671

At iterate    5    f=  3.30665D+02    |proj g|=  7.73875D+00


ITERATION     6

----------------SUBSM entered-----------------


----------------exit SUBSM --------------------

 LINE SEARCH           0  times; norm of step =    9.2462421965660305E-002

At iterate    6    f=  3.29709D+02    |proj g|=  4.81023D+00


ITERATION     7

----------------SUBSM entered-----------------


----------------exit SUBSM --------------------

 LINE SEARCH           0  times; norm of step =   0.13648137749136452

At iterate    7    f=  3.29046D+02    |proj g|=  4.49603D+00


ITERATION     8

----------------SUBSM entered-----------------


----------------exit SUBSM --------------------

 LINE SEARCH           0  times; norm of step =   0.15517118613334385

At iterate    8    f=  3.28508D+02    |proj g|=  3.87862D+00


ITERATION     9

----------------SUBSM entered-----------------


----------------exit SUBSM --------------------

 LINE SEARCH           0  times; norm of step =   0.23272180800765985

At iterate    9    f=  3.27899D+02    |proj g|=  2.28919D+00


ITERATION    10

----------------SUBSM entered-----------------


----------------exit SUBSM --------------------

 LINE SEARCH           1  times; norm of step =    7.1565470418496785E-002

At iterate   10    f=  3.27797D+02    |proj g|=  2.43672D+00


ITERATION    11

----------------SUBSM entered-----------------


----------------exit SUBSM --------------------

 LINE SEARCH           0  times; norm of step =    6.5026482604942842E-002

At iterate   11    f=  3.27709D+02    |proj g|=  5.36571D-01


ITERATION    12

----------------SUBSM entered-----------------


----------------exit SUBSM --------------------

 LINE SEARCH           0  times; norm of step =    1.6414355538945775E-002

At iterate   12    f=  3.27699D+02    |proj g|=  3.73242D-01


ITERATION    13

----------------SUBSM entered-----------------


----------------exit SUBSM --------------------

 LINE SEARCH           0  times; norm of step =    1.7757237029495488E-002

At iterate   13    f=  3.27693D+02    |proj g|=  2.97229D-01


ITERATION    14

----------------SUBSM entered-----------------


----------------exit SUBSM --------------------

 LINE SEARCH           1  times; norm of step =    6.5968585222465842E-003

At iterate   14    f=  3.27691D+02    |proj g|=  3.09349D-01


ITERATION    15

----------------SUBSM entered-----------------


----------------exit SUBSM --------------------

 LINE SEARCH           0  times; norm of step =    7.3412326218458218E-003

At iterate   15    f=  3.27690D+02    |proj g|=  1.80693D-01


ITERATION    16

----------------SUBSM entered-----------------


----------------exit SUBSM --------------------

 LINE SEARCH           0  times; norm of step =    5.7131363572394990E-003

At iterate   16    f=  3.27689D+02    |proj g|=  1.19307D-01


ITERATION    17

----------------SUBSM entered-----------------


----------------exit SUBSM --------------------

 LINE SEARCH           0  times; norm of step =    5.8590930749512111E-003

At iterate   17    f=  3.27688D+02    |proj g|=  1.51084D-01


ITERATION    18

----------------SUBSM entered-----------------


----------------exit SUBSM --------------------

 LINE SEARCH           0  times; norm of step =    1.3070056116503191E-002

At iterate   18    f=  3.27687D+02    |proj g|=  1.43663D-01


ITERATION    19

----------------SUBSM entered-----------------


----------------exit SUBSM --------------------

 LINE SEARCH           1  times; norm of step =    8.5544098807768237E-003

At iterate   19    f=  3.27686D+02    |proj g|=  1.15909D-01


ITERATION    20

----------------SUBSM entered-----------------


----------------exit SUBSM --------------------

 LINE SEARCH           0  times; norm of step =    5.6351182222899900E-003

At iterate   20    f=  3.27686D+02    |proj g|=  6.10356D-02


ITERATION    21

----------------SUBSM entered-----------------


----------------exit SUBSM --------------------

 LINE SEARCH           0  times; norm of step =    4.2004874823542530E-003

At iterate   21    f=  3.27686D+02    |proj g|=  3.92816D-02


ITERATION    22

----------------SUBSM entered-----------------


----------------exit SUBSM --------------------

 LINE SEARCH           0  times; norm of step =    3.5825606326662590E-003

At iterate   22    f=  3.27686D+02    |proj g|=  1.01664D-01


ITERATION    23

----------------SUBSM entered-----------------


----------------exit SUBSM --------------------

 LINE SEARCH           0  times; norm of step =    9.5757781435429530E-004

At iterate   23    f=  3.27686D+02    |proj g|=  2.43556D-02


ITERATION    24

----------------SUBSM entered-----------------


----------------exit SUBSM --------------------

 LINE SEARCH           0  times; norm of step =    5.4164459641863516E-004

At iterate   24    f=  3.27686D+02    |proj g|=  1.06771D-02


ITERATION    25

----------------SUBSM entered-----------------


----------------exit SUBSM --------------------

 LINE SEARCH           0  times; norm of step =    8.5184893779513939E-004

At iterate   25    f=  3.27686D+02    |proj g|=  7.61777D-03


ITERATION    26

----------------SUBSM entered-----------------


----------------exit SUBSM --------------------

 LINE SEARCH           1  times; norm of step =    3.9396972421159888E-004

At iterate   26    f=  3.27686D+02    |proj g|=  1.22718D-02


ITERATION    27

----------------SUBSM entered-----------------


----------------exit SUBSM --------------------

 LINE SEARCH           0  times; norm of step =    4.3240596712444744E-004

At iterate   27    f=  3.27686D+02    |proj g|=  1.02643D-02


ITERATION    28

----------------SUBSM entered-----------------


----------------exit SUBSM --------------------

 LINE SEARCH           0  times; norm of step =    1.6464623860833481E-004

At iterate   28    f=  3.27686D+02    |proj g|=  2.10616D-03


ITERATION    29

----------------SUBSM entered-----------------


----------------exit SUBSM --------------------

 LINE SEARCH           0  times; norm of step =    3.8920178762361190E-005

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
 This problem is unconstrained.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    0.0s remaining:    0.0s
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    0.0s finished

At iterate   29    f=  3.27686D+02    |proj g|=  8.77846D-04

           * * *

Tit   = total number of iterations
Tnf   = total number of function evaluations
Tnint = total number of segments explored during Cauchy searches
Skip  = number of BFGS updates skipped
Nact  = number of active bounds at final generalized Cauchy point
Projg = norm of the final projected gradient
F     = final function value

           * * *

   N    Tit     Tnf  Tnint  Skip  Nact     Projg        F
   35     29     34      1     0     0   8.778D-04   3.277D+02

 X = -2.6161D-01  5.3306D-02 -5.3382D-02  2.6690D-01  2.6368D-01  1.0871D-01
      1.8765D-01  0.0000D+00  9.3219D-03 -3.8783D-01  2.0015D-01 -3.2730D-02
     -3.4326D-01 -1.2298D-01 -5.6061D-02 -4.0132D-01  5.7364D-01 -2.8766D-01
      5.1705D-02  5.3922D-01  0.0000D+00  8.3485D-01  1.8744D-02 -1.1614D-01
     -1.9564D-01  0.0000D+00 -9.7183D-02 -6.5049D-01 -1.2979D-01 -1.9620D-01
      6.6667D-01 -6.8079D-01  4.4290D-01 -3.2769D-01 -2.4197D+00
  F =   327.68569794344103

CONVERGENCE: REL_REDUCTION_OF_F_<=_FACTR*EPSMCH

In [63]:
clf_trained.score(X_train,y_train)

0.8726919339164237

In [64]:
predictions = clf_trained.predict(X_test)
classification_report(y_test,predictions)

'              precision    recall  f1-score   support\n\n           0       0.89      0.97      0.93       380\n           1       0.54      0.25      0.34        61\n\n    accuracy                           0.87       441\n   macro avg       0.71      0.61      0.63       441\nweighted avg       0.84      0.87      0.84       441\n'

In [65]:
accuracy_score(y_test, predictions)

0.8662131519274376

In [66]:
confusion_matrix(y_test, predictions)

array([[367,  13],
       [ 46,  15]])

In [67]:
f1_score(y_test, predictions)

0.3370786516853933

In [68]:
precision_score(y_test, predictions, pos_label = 0)

0.8886198547215496